---
title: Spelling Alphabet
description: Type a message and get the spelling alphabet to read for it.
---

.content
  .content-item.content-description
    Type a message and get the spelling alphabet to read for it.
  .content-item.content-converter
    .convertee.raw
      %input#raw{:type => "text", :value => "G'day"}
    .convertee.spelling#spelling
  .content-item.content-made-with-by
    by Leigh McCulloch
    %br
    %a{href:"https://github.com/leighmcculloch/spellingalphabet"}
      github.com/leighmcculloch/spellingalphabet
